{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title"> Team : {{ team.Team }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Payroll: {{ team.Payroll_millions }}</li>
        <li class="list-group-item"> Total Wins: {{ team.Wins }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{team.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>


<form action="/delete/{{team.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}